html{
  background-color: rgb(62,95,115);
}

.App {
  margin-top: 5%;
  text-align: center;
  color: white;
}

.yellowText{
  color: rgb(234,210,122);
}

.inline{
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.inline > h2{
  margin-right: 10px;
}

button{
  border: none;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
}

.getButton{
  background-color: rgb(234,210,122);
}

.showButton{
  background-color: rgb(26,38,80);
  color: white;
}

.decreaseButton{
 background-color: rgb(254,147,140);
}

.increaseButton{
  background-color: rgb(97,145,181);
}

.resetButton{
  background-color: rgb(231,29,55);
}